body{
    font-family: 'Arvo';
    margin:0px;
    font-weight: bold;
}
div{
    display: flex;
    flex-direction: column;
}
header{
    background-color: black;
    color:white;
    padding:10px;
}
main{
    display: flex;
    flex-direction: column;
    background-color: #292726;
    color: #51A792;
    text-align:center;
    padding:10px;
}
footer{
    background-color: black;
    color:white;
}
a, button{
    font-family: 'Arvo';
    padding:10px;
    border-radius: 10px;
    align-self:flex-start;
}
input{
    font-family: 'Arvo';
    padding:10px;
    border-radius: 10px;
    align-self: center;
}
p{
    font-size:20px;
}
article{
    font-size: 40px;
}
#botaoFinal{
    background-color: #51A792;
    align-self: center;
}