body{
    font-family: 'Arvo';
    margin:0px;
    font-weight: bold;
    background-color: #292726;
}
div{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items:stretch;
    padding: 20px;
    justify-content: space-evenly;
    background-color: gray;
    border-radius: 20px;
}
header{
    color:white;
    padding:10px;
}
main{
    display: flex;
    flex-direction: column;
    color: #51A792;
    text-align:center;
    padding:10px;
}
footer{
    background-color: black;
    color:white;
    position: absolute;
    bottom:0%;
    width:100%
}
a, button{
    font-family: 'Arvo';
    padding:10px;
    border-radius: 10px;
    align-self:flex-start;
}
input{
    font-family: 'Arvo';
    padding:10px;
    border-radius: 10px;
    align-self: center;
}
p{
    font-size:20px;
}
article{
    font-size: 40px;
}
#botaoFinal{
    background-color: #51A792;
    align-self: center;
}

#tarefa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
    margin-bottom: 4%;
    margin-top: 0px;
    background-color: rgb(165, 165, 165);
    padding: 1%;
    border-radius: 10px;
}

.titulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
}

#campoTarefa
{
    background-color: antiquewhite;
    border: 2px solid #51A792;
    padding: 1px 10% 1px 12%;
}