body{
    font-family: 'Arvo';
    margin:0px;
    font-weight: bold;
    background-color: #292726;
}
div{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items:stretch;
    padding: 20px;
    justify-content: space-evenly;
    background-color: gray;
    border-radius: 20px;
    width:33%;
}
header{
    color:white;
    padding:10px;
}
main{
    display: flex;
    flex-direction: column;
    color: #51A792;
    text-align:center;
    padding:10px;
}
a, button{
    font-family: 'Arvo';
    padding:10px;
    border-radius: 10px;
    align-self:flex-start;
}
input{
    font-family: 'Arvo';
    padding:10px;
    border-radius: 10px;
    align-self: center;
    width:80%;
    margin:1%;
}
p{
    font-size:20px;
}
article{
    font-size: 40px;
    margin:10px;
}
#lbl{
    margin:5%;
}
#botaoAdicionar{
    background-color: #51A792;
    align-self: center;
}
#botaoEditar{
    background-color: #51A792;
    align-self: center;
}
#envio{
    background-color: #51A792;
    align-self: center;
    padding:10px;
    border-radius: 10px;
}

#tarefa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
    margin-bottom: 4%;
    margin-top: 0px;
    background-color: rgb(165, 165, 165);
    padding: 1%;
    border-radius: 10px;
}

.titulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
}

.campoTarefa
{
    background-color: antiquewhite;
    border: 2px solid #51A792;
    padding: 1px 10% 1px 10%;
    justify-content: center;
    max-width: 15%;
    border-radius: 20px;
}

.ckbox
{
    transform: scale(2);
    border: 2px solid #51A792;
}

.ckboxo
{
    transform: scale(2);
    margin-top: 5%;
    margin-bottom: 2%;
    border: 2px solid #51A792;
}

@media screen and (max-width: 600px) {
    .campoTarefa{
        width: 100%;
        padding: 1px 5% 1px 5%;
        font-size: 9px;
        justify-content: center;
        height: 100%;
    }
    #tarefa{
        height: 30%;
    }
}
